@import url('https://fonts.google.com/specimen/Sacramento#standard-styles');

body{
    margin: 0;
    background-color:springgreen;
    color: #000000;
    font-family: 'Sacramento', cursive;
}

.container nav{
    height: 80px;
    background-color: mediumslateblue;
}

nav button{
    height: 50px;
    margin-top: 15px;
    margin-left: 280px;
}

.oldal{
    min-height: calc(100vh - 100px);
    padding: 50px;
}
ul{
    list-style-type: none;
    margin-left: 150px;
    

}
.footer{
    height: 50px;
    width: 100%;
    background-color:rosybrown;
}

#profil_oldal{
    background-color:wheat;
}

#meccs_oldal{
    background-color:springgreen;
    display: none;
}

#meccs_oldal button{
    max-width: 500px;
    width: 50%;
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#meccs_oldal button:hover{
    background-color: rgba(0, 0, 0, 0);
    font-weight: bold;
    color: white;
}
#kepek{
    width:100%;
    margin-left: 150px;
}
#leiras{
    margin-left: 150px;
    margin-top: 100px;
}